<footer class="sticky-footer">
	<div class="container">
		<div class="text-center footer-text">
            @System.Configuration.ConfigurationManager.AppSettings["copyrightmsg"].ToString()
		</div>
	</div>
</footer>

